:host {
  display: block;
  position: relative;
  p {
    margin: 0px;
  }
  .lang-asm {
    font-family: 'VT323', monospace;
    font-size: 13pt;
  }

  .retro-1980 {
    background: black;
    box-shadow: 1px 1px 10px 10px black;
    margin-left: 5px;
    margin-right: 5px;
    color: greenyellow;
  }

  .lang-c {
    font-family: 'Dot Matrix', monospace;
    font-size: 12pt;
  }

  .retro-1990 {
    background: #ffe2d8;
    color: black;
    margin-top: -8px;
    cover-line ::ng-deep .starter {
      display: inline-block;
      content: '';
      background: white;
      border-radius: 3px;
      width: 6px;
      height: 6px;
      margin-bottom: 2px;
      margin-left: -20px;
      margin-right: 20px;
    }
    cover-line ::ng-deep .text {
      display: inline-block;
      position: relative;
      border-left: 1px dashed white;
      margin-left: -12px;
      padding-left: 20px;
      top: 4px;
    }
    cover-line:nth-child(even) {
      background: #b4d6ba;
    }
  }

  .lang-atlas {
    font-family: 'VT323', monospace;
    font-size: 12pt;
  }

  .retro-1991 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: yellow;
    box-shadow: 1px 1px 10px 10px black;
    background: black;
    margin-left: 5px;
    margin-right: 5px;
  }

  .lang-java {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 9pt;
  }

  .retro-2003 {
    background: #276681;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: 2px solid #276681;
    box-shadow: 0px 0px 3px 3px #276681;
    border-radius: 5px;
  }

  .lang-idl {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 9pt;
  }

  .retro-2015 {
    background: white;
    color: desaturate(darken(rgb(213, 18, 36), 0%), 50%);
    // border: 2px solid lighten(rgb(213, 18, 36), 50%);
    margin-top: -10px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px desaturate(darken(rgb(213, 18, 36), 0%), 50%);
  }

  .lang-html {
    font-family: Consolas;
    font-size: 10pt;
  }

  .retro-2017 {
    background: black;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: -5px;
    // width: 520px;
    box-shadow: 1px 1px 2px 2px black;
    color: lightgray;
  }

  .lang-rest {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Consolas;
    font-size: 10pt;
  }

  .retro-2018 {
    background: white;
    border: 2px solid #276681;
    color: #276681;
  }

  .pre {
    display: block;
  }
}
