:host {
  display: block;
  position: relative;
  p {
    margin: 0px;
  }
  .lang-asm {
    font-family: 'VT323', monospace;
    font-size: 13pt;
  }

  .retro-1980 {
    background: black;
    box-shadow: 1px 1px 10px 10px black;
    color: greenyellow;
  }

  .lang-c {
    font-family: 'Dot Matrix', monospace;
    font-size: 14pt;
  }

  .retro-1990 {
    background: #ffe2d8;
    color: black;
    cover-line ::ng-deep .starter {
      display: inline-block;
      content: '';
      background: white;
      border-radius: 3px;
      width: 6px;
      height: 6px;
      margin-bottom: 5px;
      margin-left: -20px;
      margin-right: 20px;
    }
    cover-line ::ng-deep .text {
      display: inline-block;
      position: relative;
      border-left: 1px dashed white;
      margin-left: -12px;
      padding-left: 20px;
      top: 6px;
    }
    cover-line:nth-child(even) {
      background: #b4d6ba;
    }
  }

  .lang-atlas {
    font-family: 'VT323', monospace;
    font-size: 12pt;
  }

  .retro-1991 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: yellow;
    box-shadow: 1px 1px 10px 10px black;
    background: black;
  }

  .lang-java {
    font-family: 'IBM Plex Mono', monospace;
    font-size: large;
  }

  .retro-2003 {
    background: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    border: 2px solid darkgray;
    box-shadow: 0px 0px 3px 3px darkgray;
    border-radius: 5px;
  }

  .lang-idl {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 9pt;
  }

  .retro-2015 {
    background: white;
    border: 1px solid black;
  }

  .lang-html {
    font-family: Consolas;
    font-size: 10pt;
  }

  .retro-2017 {
    background: black;
    box-shadow: 1px 1px 10px 10px black;
    color: lightgray;
  }

  .lang-rest {
    font-family: Consolas;
    font-size: 10pt;
  }

  .retro-2018 {
    background: white;
    border: 1px solid black;
    color: black;
  }

  .pre {
    display: block;
  }
}
