:host {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: pre;

  ::ng-deep .hl-b {
    font-weight: bold;
  }
  ::ng-deep .hl-B {
    color: rgb(79, 120, 182);
  }
  ::ng-deep .hl-O {
    color: orange;
  }
  ::ng-deep .hl-L {
    color: rgb(182, 203, 235);
  }

  ::ng-deep .hl-I:before {
    content: '•';
    display: inline-block;
    position: static;
    font-size: 30px;
    margin-left: -5px;
    margin-right: -5px;
    transform: translateY(3.5px);
    color: lighten(green, 10%);
    line-height: 2px;
    height: 2px;
  }
}
