:host {
  font-size: 30px;
  display: inline-block;
  // width: 600px;
  margin: 0px;
  perspective: 500px;

  cover-snippet: {
    opacity: 0.7;
  }

  cover-snippet:nth-child(1) {
    left: 180px;
    // transform: rotate(5deg);
    transform: translateZ(10px) rotateY(30deg);
    z-index: 10;
    opacity: 0.93;
  }

  cover-snippet:nth-child(2) {
    left: 100px;
    // transform: rotate(-2deg);
    transform: rotateY(30deg);
    position: relative;
    top: -10px;
  }
  cover-snippet:nth-child(3) {
    left: 80px;
    // transform: rotate(-5deg);
    transform: rotateY(30deg);
    position: relative;
    top: -25px;
    opacity: 0.93;
  }
  cover-snippet:nth-child(4) {
    left: 120px;
    transform: rotate(1deg);
  }
  cover-snippet:nth-child(5) {
    left: 90px;
    transform: rotate(-1deg);
  }
}
