/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Dot Matrix';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/DOTMATRI.TTF) format('truetype');
  }